
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="text-center pagetitle">
    <h1>Détail des Statistiques</h1>  
</div>
{% for type, data in table.items %}

<div class="d-colunm">
   <div class="card">
       <div class="card-body">
           <p class="card-title">{{ type.name_type }}</p>

           <!-- Pie Chart -->
           <div id="pieChart-{{ forloop.counter }}"></div>

           <script>
               document.addEventListener("DOMContentLoaded", () => {
                   new ApexCharts(document.querySelector("#pieChart-{{ forloop.counter }}"), {
                       series: [ {{ data.vente }},{{ data.naissance }} , {{ data.achat }}, {{ data.deces }}],
                       chart: {
                           height: 350,
                           type: 'pie',
                           toolbar: {
                               show: true
                           }
                       },
                       labels: [ 'Vente','Naissances', 'Achats','Décès']
                   }).render();
               });
           </script>
           <!-- End Pie Chart -->

       </div>
   </div>
</div>
{% endfor %}



{% endblock %}
