

{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="card shadow">
    <h1>Supprimer le planning  sur : {{ arrose.culture }}</h1>

    <p>Êtes-vous sûr de vouloir supprimer cet aliment ?</p>

    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger mx-1 my-1">Confirmer la Suppression</button>
        <a href="{% url 'list_planning' %}" class="btn btn-secondary mx-1 my-1">Annuler</a>
    </form>
</div>
{% endblock content %}
